html, body {
  background: white;
  color: black;
}

.window {
  position: absolute;
  width: 275px;
  height: 116px;
}

#progress-bar {
  position: absolute;

  width:  250px;
  height: 10px;

  top:  72px;
  left: 16px;
}

#knob {
  position: absolute;

  height: 10px;
  width:  28px;

  background-repeat: no-repeat;
}

.button {
  display:  block;
  width:    23px;
  height:   18px;

  position: absolute;
  background-repeat: no-repeat;
}

.button span {
  display: none;
}

#back.button {
  top:  89px;
  left: 16px;
}

#play.button {
  top:  89px;
  left: 39px;
}

#pause.button {
  top:  89px;
  left: 62px;
}

#stop.button {
  top:  89px;
  left: 85px;
}

#next.button {
  width: 22px;

  top:  89px;
  left: 108px;
}

#eject.button {
  width:  22px;
  height: 16px;

  top:  90px;
  left: 136px;
}
