!!! 5
html
  head
    meta(charset = "UTF-8")
    meta(name = "description", content = "Spinamp!")
    meta(name = "author", content = "Robert Böhnke")

    title Spinamp

    link(rel = "stylesheet", href = "./css/application.css")
    script(type = 'text/javascript', src = './js/application.js')
  body
    h1 Spinamp
    h2 It really whips the llama's ass
