!!! 5
html
  head
    meta(charset = "UTF-8")
    meta(name = "description", content = "Spinamp!")
    meta(name = "author", content = "Robert Böhnke")

    title Spinamp

    link(rel = "stylesheet", href = "sp://spinamp/css/application.css")
    script(type = 'text/javascript', src = 'sp://spinamp/vendor/jquery-1.7.1.min.js')
    script(type = 'text/javascript', src = 'sp://spinamp/js/Application.js')
    script(type = 'text/javascript', src = 'sp://spinamp/js/Skin.js')
    script(type = 'text/javascript', src = 'sp://spinamp/js/Main.js')
  body
    h1 Spotify Test
